name: 시간표 자동 업데이트

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-timetable:
    runs-on: ubuntu-latest
    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v3

      - name: 파이썬 설치
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 라이브러리 설치
        run: pip install pycomcigan

      - name: 시간표 갱신 실행
        run: make_html.py
        
      - name: 결과물 저장 (Commit & Push)
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"
          git add index.html
          git commit -m "시간표 자동 업데이트 완료" || exit 0
          git push
